{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/new_stuff.css' %}">
{% endblock styles %}

{% block content %}
<div class="cart-container">
    {% if user.is_authenticated %}
        <h1>Your Cart</h1>
        <p>Here are the items in your cart:</p>
    {% else %}
        <h1>Please Log In</h1>
        <p>To view your cart and proceed with the purchase, please <a href="{% url 'users:login' %}">log in</a>.</p>
    {% endif %}
</div>
{% endblock %}