{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
{% endblock styles %}

{% block content %}
<div class="profile-container">
    <h1 class="profile-title">Password Reset</h1>

    <form method="post" class="profile-form">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        <div class="form-group">
            <label class="form-label" for="{{ form.email.id_for_label }}">Email</label>
            {{ form.email }}
            <div class="form-error">{{ form.email.errors }}</div>
        </div>

        <button type="submit" class="save-button">Send Reset Code</button>
    </form>
</div>
{% endblock %}