{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'main/css/new_stuff.css' %}">
{% endblock styles %}

{% block content %}
<div class="page-container">
    <div class="page-header">
        <div class="breadcrumb">
            <span class="breadcrumb-item"><a href="{% url 'collections' %}">Collections</a></span>-
            <span class="breadcrumb-item active">{{ title }}</span>
        </div>
    </div>
    <h1 class="new-arrivals-title">{{ title }}</h1>

    <div class="product-grid">
        {% for product in products %}
            <div class="product-item">
                <div class="image-container {% if not product.images.all.1 %}no-hover{% endif %}">
                    {% if product.images.all %}
                        <a href="{% url 'product_detail' slug=product.slug %}">
                            <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}" class="main-image">
                        </a>
                        
                        {% with second_image=product.images.all.1 %}
                            {% if second_image %}
                                <a href="{% url 'product_detail' slug=product.slug %}">
                                    <img src="{{ second_image.image.url }}" alt="{{ product.name }} (Hover)" class="hover-image">
                                </a>
                            {% endif %}
                        {% endwith %}
                    {% else %}
                        <div class="placeholder-image">No Image</div>
                    {% endif %}
                </div>

                <div class="product-info">
                    <p class="product-name">{{ product.short_name }}</p>
                    <p class="product-price">£{{ product.price }}</p>
                </div>
            </div>
        {% empty %}
            <p class="no-products-message">No products available in this collection.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}