{% extends "base.html" %}

{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'main/css/guides.css' %}">
{% endblock styles %}

{% block content %}
<div class="containerr">
    <!-- Боковая панель -->
    <div class="sidebar">
        <ul>
            <li><a href="{% url 'client_resources' %}">About The Store</a></li>
            <li><a href="{% url 'delivery' %}">Delivery</a></li>
            <li><a href="{% url 'pickup' %}">Pickup</a></li>
            <li><a href="{% url 'new_stuff' %}">Payment</a></li>
            <li><a href="{% url 'new_stuff' %}">Returns & Refunds</a></li>
            <li><a href="{% url 'new_stuff' %}">Size Guide</a></li>
            <li><a href="{% url 'new_stuff' %}">Contacts</a></li>
            <li><a href="{% url 'new_stuff' %}">Privacy Policy</a></li>
            <li><a href="{% url 'new_stuff' %}">Terms of Use</a></li>
        </ul>
    </div>

    <!-- Основной контент -->
    <main class="content">
        {% block client_resources_content %}
        {% endblock client_resources_content %}
    </main>
</div>
{% endblock content %}