{% extends "base.html" %}

{% load static %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'main/css/guides.css' %}">
{% endblock styles %}

{% block content %}
<div class="containerr">
    <!-- Боковая панель -->
    <div class="sidebar">
        <ul>
            <li><a href="{% url 'client_resources' %}">About The Store</a></li>
            <li><a href="{% url 'delivery' %}">Delivery</a></li>
            <li><a href="{% url 'pickup' %}">Pickup</a></li>
            <li><a href="{% url 'payment' %}">Payment</a></li>
            <li><a href="{% url 'returns_and_refunds' %}">Returns & Refunds</a></li>
            <li><a href="{% url 'size_guide' %}">Size Guide</a></li>
            <li><a href="{% url 'contacts' %}">Contacts</a></li>
            <li><a href="{% url 'privacy_policy' %}">Privacy Policy</a></li>
            <li><a href="{% url 'terms_of_use' %}">Terms of Use</a></li>
        </ul>
    </div>

    <!-- Основной контент -->
    <main class="content">
        {% block client_resources_content %}
        {% endblock client_resources_content %}
    </main>
</div>
{% endblock content %}