{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock styles %}

{% block content %}
<div class="main_banner">
    <div class="banner-slider">
        <img src="{% static 'main/img/index/banner1.jpeg' %}" alt="main_banner_1">
        <img src="{% static 'main/img/index/banner.jpeg' %}" alt="main_banner_2">
    </div>
    <a href="{% url 'collections' %}" class="banner-button banner-button-1">Discover More</a>
    <a href="{% url 'collections' %}" class="banner-button banner-button-2">Discover More</a>
</div>
<h1 id="big-title">Stuff Catalog</h1>

<ul class="gray-list">
    {% for stuff in stuffs %}
        <li>{{ stuff.name }}</li>
    {% empty %}
        <li>Товаров пока нет.</li>
    {% endfor %}
</ul>
{% endblock content %}