{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'main/css/new_stuff.css' %}">
{% endblock styles %}

{% block content %}
<div class="page-header">
    <nav aria-label="Breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'main_page' %}">Homepage</a></li>
            <span>-</span>
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'new_stuff' %}">Stuff</a></li>
        </ul>
    </nav>
</div>

<h1 class="new-arrivals-title">New Arrivals:</h1>

<div class="new-products-panel">
    <div class="product-container">
        <div class="product-grid">
            {% for product in page_obj %}
            <div class="product-item">
                <!-- Контейнер для изображений -->
                <div class="image-container {% if not product.images.all.1 %}no-hover{% endif %}">
                    {% if product.images.all %}
                        <a href="{% url 'product_detail' slug=product.slug %}">
                            <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}" class="main-image">
                        </a>
                        
                        {% with second_image=product.images.all.1 %}
                            {% if second_image %}
                                <a href="{% url 'product_detail' slug=product.slug %}">
                                    <img src="{{ second_image.image.url }}" alt="{{ product.name }} (Hover)" class="hover-image">
                                </a>
                            {% endif %}
                        {% endwith %}
                    {% endif %}
                </div>

                <div class="product-info">
                    <p class="product-name">{{ product.short_name }}</p>
                    <p class="product-price">£{{ product.price }}</p>
                </div>
            </div>
            {% empty %}
                <p>No new arrivals available.</p>
            {% endfor %}
        </div>
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}