{% extends "main/guides.html" %}
{% load static %}

{% block client_resources_content %}
<section class="about-section">
    <h1 class="about-title">Contact Us</h1>
    
    <p>
        We’d love to hear from you! Whether you have a question about our products, need help with an order, or just want to share your feedback, our team is here to assist you. Below, you’ll find all the ways you can get in touch with us.
    </p>

    <h2 class="mission-title">Customer Service</h2>
    <p>
        Our customer service team is available to answer your questions and provide assistance. You can reach us via email, phone, or live chat during business hours.
    </p>
    <ul class="mission-list">
        <li><strong>Email:</strong> <a href="mailto:info@polarisaurora.com">info@polarisaurora.com</a></li>
        <li><strong>Phone:</strong> +44 131 496 5555</li>
        <li><strong>Live Chat:</strong> Available on our website during business hours.</li>
    </ul>

    <h2 class="mission-title">Store Address</h2>
    <p>
        Visit our store to explore our collection in person or speak with our friendly staff. Our address is:
    </p>
    <address>
        Polaris Aurora Store<br>
        123 Winter Way,<br>
        Snowflake City, SC 12345<br>
        United Kingdom
    </address>
</section>
{% endblock client_resources_content %}