/* Глобальные стили */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

/* Стили для контейнера страницы */
.containerr {
    display: flex;
    margin: 0 auto;
    max-width: 95%;
    padding-top: 7.5vw;
    gap: 2vw;
}

/* Стили для боковой панели */
.sidebar {
    width: 100%;
    max-width: 14vw;
    background-color: #fff;
    border-radius: 1vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    padding: 1rem;
    position: sticky;
    top: 7.5vw;
    align-self: flex-start;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 0.8rem;
}

.sidebar ul li a {
    text-decoration: none;
    background: linear-gradient(90deg, #063e69, #2f66b2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1.1rem;
    transition: opacity 0.3s ease;
}

.sidebar ul li a:hover {
    opacity: 0.8;
}

.sidebar ul li a.active {
    font-weight: bold;
}

.sidebar ul li a:visited {
    color: transparent;
}

/* Стили для основного контента */
.content {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

/* Стили для разделов контента */
.about-section {
    margin-bottom: 0rem;
}

.about-title,
.mission-title {
    font-size: 1.8rem;
    background: linear-gradient(90deg, #063e69, #2f66b2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 1rem;
}

.about-title {
    margin-top: 0;
}

.mission-title {
    margin-top: 2rem;
}

.about-section p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
}

.mission-list {
    list-style: disc;
    padding-left: 1.5rem;
    margin-top: 1rem;
}

.mission-list li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.8rem;
}

.sub-list {
    margin-left: 1rem;
    margin-top: 0.7rem;
    padding-left: 1rem;
    list-style-type: disc;
}

.sub-list li {
    margin-bottom: 0.8rem;
}

/* Стили для информации о магазине */
.store-details {
    display: flex;
    align-items: flex-start; /* Выравнивание по верхнему краю */
    gap: 2rem; /* Расстояние между текстом и изображением */
}

.text-section {
    flex: 1; /* Занимает доступное пространство */
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Отступ между элементами текста */
}

.address-section,
.opening-hours-section {
    margin-bottom: 1rem;
}

.image-section {
    flex: 1;
    text-align: center;
}

.map-image {
    width: 32vw;
    height: 37vw;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}