/* Глобальные стили */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    font-size: 1.1vw;
}

/* Стили для контейнера страницы */
.containerr {
    display: flex;
    margin: 0 auto;
    max-width: 95%;
    padding-top: 2vw;
    gap: 2vw;
    margin-bottom: 1vw;
}

/* Стили для боковой панели */
.sidebar {
    width: 14vw;
    height: 28.2vw;
    background-color: #fff;
    border-radius: 1vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    padding: 1vw;
    position: sticky;
    top: 7.5vw;
    margin-bottom: 1vw;
    align-self: flex-start;
    padding-left: 1.5vw;
    font-size: 1.3vw;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 0.9vw;
}

.sidebar ul li a {
    text-decoration: none;
    background: linear-gradient(90deg, #063e69, #2f66b2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1.3vw;
    transition: opacity 0.3s ease;
}

.sidebar ul li a:hover {
    opacity: 0.8;
}

.sidebar ul li a.active {
    font-weight: bold;
}

.sidebar ul li a:visited {
    color: transparent;
}

/* Стили для основного контента */
.content {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2.5vw;
    overflow: hidden;
    margin-bottom: 1vw;
}

/* Стили для разделов контента */
.about-section {
    margin-bottom: 0rem;
}

.about-title,
.mission-title {
    font-size: 2.1vw;
    background: linear-gradient(90deg, #063e69, #2f66b2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 1vw;
}

.about-title {
    margin-top: 0;
}

.mission-title {
    margin-top: 2vw;
}

.about-section p {
    font-size: 1.12vw;
    color: #555;
    margin-bottom: 1vw;
}

.mission-list {
    list-style: disc;
    padding-left: 1.7vw;
    margin-top: 1.3vw;
}

.mission-list li {
    font-size: 1.12vw;
    color: #555;
    margin-bottom: 0.9vw;
}

.sub-list {
    margin-left: 1.2vw;
    margin-top: 0.8vw;
    padding-left: 1.1vw;
    list-style-type: disc;
}

.sub-list li {
    margin-bottom: 0.9vw;
}

/* Стили для информации о магазине */
.store-details {
    display: flex;
    align-items: flex-start;
    gap: 2.1vw;
}

.text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.1vw;
}

.address-section,
.opening-hours-section {
    margin-bottom: 1.1vw;
    font-size: 1.15vw;
}

.image-section {
    flex: 1;
    text-align: center;
}

.map-image {
    width: 32vw;
    height: 37vw;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.measurement-guide {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.measurement-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 0.7vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.combined-fits-image {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 0.7vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.fit-descriptions {
    display: flex;
    gap: 2.1vw;
    flex-wrap: wrap;
}

.fit-description {
    flex: 1;
    text-align: center;
}