/* Анимация контента */
.content {
    transform: translateY(-80px);
    transition: transform 0.5s ease;
}

body:not(:has(.scrolled)) .content {
    transform: translateY(0);
}

/* Стили для баннера */
.main_banner {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.banner-slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.banner-slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}

.banner-slider img:nth-child(1) {
    animation: bannerSlide1 20s infinite;
}

.banner-slider img:nth-child(2) {
    animation: bannerSlide2 20s infinite;
}

@keyframes bannerSlide1 {
    0%, 45% {
        opacity: 1;
    }
    50%, 55% {
        opacity: 0;
    }
    95%, 100% {
        opacity: 1;
    }
}

@keyframes bannerSlide2 {
    0%, 45% {
        opacity: 0;
    }
    50%, 80% {
        opacity: 1;
    }
    85%, 100% {
        opacity: 0;
    }
}

/* Стили для кнопок */
.banner-button {
    position: absolute;
    bottom: 7%;
    background-color: #FFFFFF;
    color: #000;
    border: none;
    padding: 1vw 2vw;
    font-size: 1.7vw;
    cursor: pointer;
    border-radius: 2vw;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease, opacity 1s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    overflow: hidden;
    min-width: 13vw;
    opacity: 0;
    pointer-events: none;
}

.banner-button:hover {
    background-color: #FFB100;
    transform: scale(1.02);
}

/* Анимация для кнопки первого баннера */
.banner-button-1 {
    left: 17.1%;
    animation: buttonSlide1 20s infinite;
}

/* Анимация для кнопки второго баннера */
.banner-button-2 {
    right: 24%;
    animation: buttonSlide2 20s infinite;
}

@keyframes buttonSlide1 {
    0%, 45% {
        opacity: 1;
        pointer-events: auto;
    }
    50%, 80% {
        opacity: 0;
        pointer-events: none;
    }
    85%, 100% {
        opacity: 1;
        pointer-events: auto;
    }
}

@keyframes buttonSlide2 {
    0%, 45% {
        opacity: 0;
        pointer-events: none;
    }
    50%, 80% {
        opacity: 1;
        pointer-events: auto;
    }
    85%, 100% {
        opacity: 0;
        pointer-events: none;
    }
}

#big-title {
    font-size: 2.1rem;
    margin: 1rem 1.2rem;
    margin-bottom: 0.4vw;
    background: linear-gradient(90deg, #063e69, #2f66b2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Стили для панели новых товаров */

.product-grid {
    padding-bottom: 4vw;
}

/* Стили для кнопки-фотографии */
.down-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    z-index: 10;
    margin-top: 1vw;
}

.down-button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.down-button:hover img {
    transform: scale(1.1);
}

/* Стили для секции с двумя баннерами */
.banner-section {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem; /* Отступ от предыдущего блока */
    padding-left: 2rem; /* Отступ слева */
    padding-right: 2rem; /* Отступ справа */
    gap: 1rem; /* Расстояние между баннерами */
    height: 100vh;
}

.banner-item {
    flex: 1; /* Каждый баннер займёт равную часть ширины */
    max-width: calc(50% - 1rem); /* Максимальная ширина каждого баннера с учетом отступов */
    overflow: hidden;
    border-radius: 1vw;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin: 0;
}

.banner-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.banner-item:hover {
    transform: scale(1.02); /* Анимация при наведении курсора */
}

/* Стили для баннера на всю ширину */
.full-width-banner {
    margin-top: 2rem; /* Отступ сверху */
    margin-bottom: 1rem;
    width: 100%; /* Полная ширина */
    height: auto;
    overflow: hidden;
    border-radius: 1vw; /* Округление углов */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Тень для акцента */
}

.full-width-banner a {
    display: block; /* Делаем ссылку блочным элементом */
    width: 100%;
    height: auto;
    text-decoration: none; /* Убираем подчёркивание ссылки */
}

.full-width-banner img {
    width: 100%; /* Изображение занимает всю ширину */
    object-fit: cover; /* Корректное масштабирование изображения */
    display: block; /* Убираем возможные пробелы */
}