/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding-top: 5.5vw;
}

/* Стили для верхней панели (header) */
header {
    height: 6vw;
    background: linear-gradient(90deg, #003366, #4e88b8);
    color: #fff;
    padding: 0.6vw 1.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
}

header .logo {
    height: 3.1vw;
    margin-right: 2.4vw;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2.1vw;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2vw;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FFB100;
}

/* Анимация контента */
.content {
    transform: translateY(-80px);
    transition: transform 0.5s ease;
}

body:not(:has(.scrolled)) .content {
    transform: translateY(0);
}

/* Стили для баннера */
.main_banner {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.banner-slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.banner-slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0; /* Начальное состояние изображений */
    transition: opacity 3s ease-in-out; /* Плавное изменение прозрачности */
}

.banner-slider img:nth-child(1) {
    animation: bannerSlide1 20s infinite; /* Увеличенное время анимации */
}

.banner-slider img:nth-child(2) {
    animation: bannerSlide2 20s infinite; /* Увеличенное время анимации */
}

@keyframes bannerSlide1 {
    0%, 45% {
        opacity: 1; /* Первое изображение видимо первые 9 секунд */
    }
    55%, 100% {
        opacity: 0; /* Первое изображение исчезает за 5 секунд */
    }
}

@keyframes bannerSlide2 {
    0%, 45% {
        opacity: 0; /* Второе изображение невидимо первые 9 секунд */
    }
    55%, 100% {
        opacity: 1; /* Второе изображение появляется за 5 секунд */
    }
}

/* Стили для кнопки */
.banner-button {
    position: absolute;
    bottom: 7%;
    left: 24%;
    transform: translateX(-50%);
    background-color: #FFB100;
    color: #fff;
    border: none;
    padding: 1vw 2vw;
    font-size: 1.7vw;
    cursor: pointer;
    border-radius: 2vw;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    overflow: hidden;
    min-width: 13vw;
}

.banner-button:hover {
    background-color: #FFD700;
    transform: translate(-50%, -5%) scale(1.02);
}

/* Футер */
.footer-banner {
    background-color: #000;
    color: #fff;
    padding: 2vw 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    max-width: 95%;
    margin: 0 auto;
    position: relative;
}

.footer-left {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex: 1;
    justify-content: flex-start;
}

.footer-left1,
.footer-left2 {
    margin-right: 4vw;
}

.footer-left1 h3,
.footer-left2 h3 {
    font-size: 1.2vw;
    margin-bottom: 0.6vw;
}

.footer-left1 p,
.footer-left2 p {
    font-size: 0.9vw;
}

.footer-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    margin: 0 auto;
}

.footer-logo {
    height: 5vw;
    margin-bottom: 1vw;
}

.footer-text {
    font-size: 1.1vw;
}

.footer-right {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex: 1;
    justify-content: flex-start;
}

.footer-right1,
.footer-right2 {
    margin-left: 5vw;
    margin-top: -3vw;
}

.footer-right1 h3,
.footer-right2 h3 {
    font-size: 1.2vw;
    margin-bottom: 0.6vw;
}

.footer-right1 p,
.footer-right2 p {
    font-size: 0.9vw;
}