/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    padding-top: 5.5vw;
}

/* Контейнер для всей страницы */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 89vh;
}

/* Основной контент */
main {
    flex-grow: 1;
}

/* Стили для верхней панели (header) */
header {
    height: 6vw;
    background: linear-gradient(90deg, #003366, #4e88b8);
    color: #fff;
    padding: 0.6vw 1.5vw;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

header .logo {
    height: 3.1vw;
    margin-right: 2.4vw;
}

nav {
    display: flex;
    gap: 2.1vw;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2.1vw;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2vw;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FFB100;
}

.header-widgets {
    display: flex;
    align-items: center;
    gap: 1.2vw;
    margin-left: auto;
}

.header-widgets img {
    width: auto;
    height: 1.85vw;
    transition: transform 0.3s ease;
}

.header-widgets a:hover img {
    transform: scale(1.13);
}

.profile-icon {
    margin-left: 1vw;
}

/* Футер */
.footer-banner {
    background-color: #000;
    color: #fff;
    padding: 2vw 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    max-width: 95%;
    margin: 0 auto;
    position: relative;
}

.footer-left {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex: 1;
    justify-content: flex-start;
}

.footer-left1,
.footer-left2 {
    margin-right: 4vw;
}

.footer-left1 h3,
.footer-left2 h3 {
    font-size: 1.2vw;
    margin-bottom: 0.6vw;
}

.footer-left1 p,
.footer-left2 p {
    font-size: 0.9vw;
}

.footer-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    margin: 0 auto;
}

.footer-logo {
    height: 5vw;
    margin-bottom: 1vw;
}

.footer-text {
    font-size: 1.1vw;
}

.footer-right {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex: 1;
    justify-content: flex-start;
}

.footer-right1,
.footer-right2 {
    margin-left: 5vw;
    margin-top: -3vw;
}

.footer-right1 h3,
.footer-right2 h3 {
    font-size: 1.2vw;
    margin-bottom: 0.6vw;
}

.footer-right1 p,
.footer-right2 p {
    font-size: 0.9vw;
}